


/* clases comunes */

.contenedor{
    max-width: 1340px;
    height: auto;
    text-align: center;
    margin: auto;
}


/* Barra de navegación */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* seccion de header */


/* seccion ¿que es voltaje? */
#que-es-voltaje{
    width: 100%;
    height: auto;
    background-image: url("../imagenes/voltaje-fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    background-position-x: center;
}

.contenedor-que-es-voltaje{
    height: auto;
    padding: 600px 0px;
}

.texto-que-es-voltaje{
    width: 975px;
    display: inline-block;
    color: #fff;
    vertical-align: middle;
    font-family: 'Gotham Light', sans-serif;
}

.titulo-que-es-voltaje{
    text-transform: uppercase;
    display: inline-block;
    font-size: 50px;
    width: 45%;
    letter-spacing: 10px;
    text-align: left;
    line-height: 65px;
}
.titulo-que-es-voltaje span{
    font-family: 'Gotham Bold', sans-serif;
}

.parrafo-que-es-voltaje{
    display: inline-block;
    font-size: 24px;
    width: 50%;
    text-align: left;
    padding-top: -10px;
}

.parrafo-que-es-voltaje span{
    font-family: 'Gotham Bold', sans-serif;
}





/* seccion lo que hacemos */




/* seccion portafolio */




/* seccion nuestro proceso */

#nuestro-proceso{
    width: 100%;
    text-align: center;
}

.contenedor-proceso{
    width: 1340px;
    text-align: center;
    margin: auto;
}

.proceso-etapa-titulo{
    text-transform: uppercase;
}

.proceso-etapas{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1;

}
.proceso-etapa-contenedor{
    height: auto;
}


/* seccion contacto */

#contacto{
    width: 100%;
    height: auto;
    background: #000;
}

.contenedor-contacto{
    padding: 70px 0px;
    color: #fff;
}

.tienes-una-idea{
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 5px;
    font-size: 36px;
}

.conversemos{
    font-size: 28px;
    text-transform: uppercase;
    padding: 16px 0px;

}

.iconos-contacto{
    text-align: center;
    width: 100%;
    height: auto;
    margin: auto;
}

.iconos-contacto i {
    margin: 35px;
    font-size: 100px;
    color: #fff;
    transition-property: color;
    transition-duration: 0.5s;
}

.iconos-contacto i:hover {
    color: #e4333a;
    cursor: pointer;
}

/* fondo transición*/
.fondo-terminacion{
    display: inline-block;
    width: 100%;
    height: auto;
    margin-bottom: -200px;
}

/* footer */


footer{
    width: 100%;
    height: auto;
}

.contenedor-footer{
    margin-bottom: 80px;
}

.contendor-logo{
    width: 100%;
    height: auto;
    text-align: center;
    margin: auto;
    margin-bottom: 100px;
}
.logo-voltaje-negro{
    width: 400px;
    height: auto;
    display: inline-block;
    margin-left: -12px;
}

.iconos-redes-contacto {
    display: inline-block;
    text-align: center;
    margin: auto;
}
.iconos-redes-contacto i{
    font-size: 30px;
    color: #434040;
    margin: 20px 10px;
    transition-property: color, font-size;
    transition-duration: 0.5s;

}

.iconos-redes-contacto i:hover{
    font-size: 36px;
    color: #e4333a;
    cursor: pointer;
}

.texto-derechos-reservados{
    font-size: 15px;
    margin: 5px;
    color: #434040;
    letter-spacing: 4px;
}
