


/* clases comunes */

.contenedor{
    max-width: 1340px;
    height: auto;
    text-align: center;
    margin: auto;
}

.horizonte-procesos{
    width: 120px;
    height: 6px;
    border-radius: 3px;
    background: #e4333a;
    display: block;
    margin: auto;
}

.horizonte-modal{
    width: 120px;
    height: 6px;
    border-radius: 3px;
    background: #e4333a;
    display: block;
    margin-left: 5%;
    text-align: left;
    margin-bottom: 5%;
}


/* Barra de navegación */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* seccion de header */

header{
    width: 100%;
    height: auto;
    background-image: url("../imagenes/");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    background-position-x: center;
}

/* seccion ¿que es voltaje? */
#que-es-voltaje{
    width: 100%;
    height: auto;
    background-image: url("../imagenes/voltaje-fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    background-position-x: center;
    margin-top: -200px;
}

.contenedor-que-es-voltaje{
    height: auto;
    padding: 600px 0px;
}

.texto-que-es-voltaje{
    width: 975px;
    display: inline-block;
    color: #fff;
    vertical-align: middle;
    font-family: 'Gotham Light', sans-serif;
}

.titulo-que-es-voltaje{
    text-transform: uppercase;
    display: inline-block;
    font-size: 50px;
    width: 45%;
    letter-spacing: 12px;
    text-align: left;
    line-height: 65px;
}
.titulo-que-es-voltaje span{
    font-family: 'Gotham Bold', sans-serif;
}

.parrafo-que-es-voltaje{
    display: inline-block;
    font-size: 24px;
    width: 50%;
    text-align: left;
    padding-top: -10px;
}

.parrafo-que-es-voltaje span{
    font-family: 'Gotham Bold', sans-serif;
}





/* seccion lo que hacemos */
#lo-que-hacemos{
    width: 100%;
    text-align:center;
    margin-top: -20px;
}

.titulo-lo-que-hacemos{
    font-family: 'Gotham Bold';
    font-size: 36px;
    letter-spacing: 12px;
    text-transform: uppercase;
}
.lo-que-hacemos-servicios{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    margin-top: 100px;
    margin-bottom: 120px;
}

.contenedor-servicio{
    box-shadow: 10px 10px 0px -5px transparent;
    border-radius: 5px;
    padding: 30px;
    transition-property: box-shadow;
    transition-duration: 0.7s;
}

.contenedor-servicio a{
    text-decoration: none;
    color: #000;
}

.contenedor-servicio:hover {
    box-shadow: 0px 0px 45px -7px #979797;
    cursor: pointer;
}

.img-servicio{
    width: 230px;
    height: auto;
    text-align: center;
    margin: auto;
    display: block;
}

.titulo-servicio{
    font-size: 20.5px;
    font-family: 'Gotham Bold';
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-top: 20px;
    text-decoration: none;
}


/* ventanas modales */
#diseño-grafico:target{
    opacity:1;
    pointer-events:auto;
  }
#imagen-corporativa:target{
    opacity:1;
    pointer-events:auto;
  }
#diseño-web:target{
    opacity:1;
    pointer-events:auto;
  }
#fotografia-productos:target{
    opacity:1;
    pointer-events:auto;
  }
#ilustracion:target{
    opacity:1;
    pointer-events:auto;
}
#social-manager:target{
    opacity:1;
    pointer-events:auto;
  }

.modal{
    background-color: rgba(0,0,0,0.5);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 0.5s;
  }
  .modal-contenido{
    background-color:#eee;
    width: 80%;
    height: 90%;
    padding: 10px 0px;
    margin: 2% auto;
    text-align: left;
    position: relative;

}
  
.btn-cerrar-modal{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background: #000;
    color: #fff;
    padding: 9px;
    transition-property: all;
    transition-duration: 0.5s;
}
.btn-cerrar-modal i{
    font-size: 32px;
    color: #fff;
    display: block;
    text-align: center;
    margin: center
}
.btn-cerrar-modal:hover{
    background: #e4333a;
    color: #ccc;
    padding: 12px;
}

.iconos-navegacion-modal{
    position: absolute;
    width: auto;
    height: auto;
    border-radius: 10px;
    background: #e4333a;
    z-index: 2;
    padding: 18px;
    text-align: center;
    opacity: 0.6;
    top: 47%;
    transition-property: all;
    transition-duration: 0.5s;
}

.iconos-navegacion-modal:hover{
    padding: 22px;
    text-align: center;
    opacity: 1; 
    top: 46.7%
}

.icono-avanzar{  
    right: -5%; 
}

.icono-retroceder{
    left: -5%;
}

.iconos-navegacion-modal i{
    font-size: 28px;
    color: #fff;
}



.titulo-modal{
    font-size: 30px;
    font-family: 'Gotham Medium';
    letter-spacing: 7px;
    text-transform: uppercase;
    padding-left: 5%;
    margin-top: 3%
}

.grilla-modal-contenido{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.modal-contenido-left{
    width: 80%;
    text-align: left;
    padding: 0% 10%;
    font-family: 'Gotham Light';
    font-size: 16px;
}

.modal-contenido-left p{
    margin-top: 0;
    line-height: 24px;
    letter-spacing: 2px;
}

.modal-contenido-left ul{
    line-height: 24px;
    letter-spacing: 2px;
    font-family: 'Gotham Medium';
}

.modal-contenido-right{
    width: 100%;

}
.modal-contenido-right img{
    width: 100%;
    height: 80%;

}

/* seccion portafolio */

.portafolio-titulo{
    font-family: 'Gotham Bold';
    font-size: 36px;
    letter-spacing: 12px;
    text-transform: uppercase;
    padding-left: 12px;
}

.lista-portafolio{
    list-style: none;
    display: inline-block;
    text-align: center;
    margin: 40px auto;

}

.lista-portafolio-item{
    font-family: 'Gotham Book';
    box-sizing: border-box;
    display: inline-block;
    margin: 8px 23px;
    font-size: 25px;
    padding: 10px 0px 10px 3px;
    letter-spacing: 5px;
    transition-property: color, border-bottom;
    transition-duration: 0.5s;
    border-bottom: 4px solid transparent;
}

.lista-portafolio-item:hover{
    color: #e4333a;
    cursor: pointer;
}


.lista-portafolio-item:active{
    color: #e4333a;
    font-family: 'Gotham Bold';
    border-bottom: 4px solid #e4333a;
    box-sizing: border-box;
}

.contenedor-portafolio-img{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 25px;
    margin: auto;  
}

.imagen-portafolio{
    width: 100%;
}


/* seccion nuestro proceso */

#nuestro-proceso{
    width: 100%;
    text-align: center;
    margin-bottom: -280px;
}

.contenedor-proceso{
    margin-top: 150px;
}


.proceso-etapa-contenedor{
    height: auto;
    color: #fff;
}

.nuestro-proceso-explicado{
    margin: 50px 0px;

}

.proceso-titulo{
    font-family: 'Gotham Bold';
    font-size: 36px;
    letter-spacing: 12px;
    text-transform: uppercase;
}



.proceso-parrafo{
    font-size: 30px;
    display: block;
    margin: 70px auto 150px;
    width: 70%;
    line-height: 44px;
    letter-spacing: 3px;

}

.proceso-etapas{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1;

}
.proceso-etapa-titulo{
    text-transform: uppercase;
    margin-top: 32%;

}
.proceso-analisis{
    background-image: url("../imagenes/fondo-analisis.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 611px;
}
.proceso-estrategia{
    background-image: url("../imagenes/fondo-estrategia.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 611px;
   
}
.proceso-desarrollo{
    background-image: url("../imagenes/fondo-desarrollo.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 611px;
}

.proceso-etapa-titulo{
    font-size: 30px;
    font-family: 'Gotham Bold';
    text-transform: uppercase;
    letter-spacing: 6px;
}
.texto-etapa{
    font-family: 'Gotham Light';
    font-size: 24px;
    width: 73%;
    display: block;
    margin: 45px auto;
    text-align: left;
    letter-spacing: 3px;
}


/* seccion contacto */

#contacto{
    width: 100%;
    height: auto;
    background: #000;
}

.contenedor-contacto{
    padding: 70px 0px;
    color: #fff;
}

.tienes-una-idea{
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 5px;
    font-size: 36px;
    font-family: 'Gotham Bold';
    margin-top: 380px;
}

.conversemos{
    font-size: 28px;
    text-transform: uppercase;
    padding: 16px 0px 0xp;
    letter-spacing: 6px;

}

.iconos-contacto{
    text-align: center;
    width: 100%;
    height: auto;
    margin: 100px auto 50px;
}

.iconos-contacto i {
    margin: 35px;
    margin-bottom: 35px;
    font-size: 100px;
    color: #fff;
    transition-property: color, font-size, margin-bottom;
    transition-duration: 0.5s;
}

.iconos-contacto i:hover {
    color: #e4333a;
    cursor: pointer;
    font-size: 108px;
    margin-bottom: 32px;
}

/* fondo transición*/
.fondo-terminacion{
    display: inline-block;
    width: 100%;
    height: auto;
    margin-bottom: -190px;
}

/* footer */


footer{
    width: 100%;
    height: auto;
}

.contenedor-footer{
    margin-bottom: 80px;
}

.contendor-logo{
    width: 100%;
    height: auto;
    text-align: center;
    margin: auto;
    margin-bottom: 100px;
}
.logo-voltaje-negro{
    width: 32%;
    height: auto;
    display: inline-block;
    margin-left: -23px;
}

.contenedor-lista-contacto{
    width: 100%; 
    display: block;
    margin: 120px auto 30px;
}
.lista-contacto{
    display: inline-block;
}
.elemento-contacto{
    display: inline-block;
    font-family: 'Gotham Light';
    font-size: 24px;
    margin: 20px;
    letter-spacing: 3px;
}
.elemento-contacto a{
    text-decoration: none;
    color: #000;
}
.elemento-contacto i{
    font-size: 30px;
    color: #e4333a;
    margin-left: 25px;
    margin-bottom: -10px;
}

.iconos-redes-contacto {
    display: inline-block;
    text-align: center;
    margin: auto;
}
.iconos-redes-contacto i{
    font-size: 50px;
    padding: 10px;
    color: #434040;
    margin: 40px 10px;
    transition-property: color, font-size;
    transition-duration: 0.5s;

}

.iconos-redes-contacto i:hover{
    font-size: 60px;
    color: #e4333a;
    cursor: pointer;
    
}

.texto-derechos-reservados{
    font-size: 15px;
    margin: 5px;
    color: #434040;
    letter-spacing: 4px;
}


/* ---- Responsive breakpoints ---- */
/* -------Media querys------- */