
/* Barra de navegación */

body {
}

/* seccion de header */


/* seccion ¿que es voltaje? */
#que-es-voltaje{
    width: 100%;
    height: auto;
    background-image: url("../imagenes/voltaje-fondo.png");
    background-size: contain;
    background-position: center;


}


/* seccion lo que hacemos */




/* seccion portafolio */




/* seccion nuestro proceso */


/* seccion contacto */

/* footer */